<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="genericos" href="/genericos">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Genéricos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="de-marca" href="/de-marca">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>De marca</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="costosos" href="/costosos">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Costosos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
